.footer footer {
    display: grid;
    padding: 50px 45px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}


.footer {
    background: #000000da;

}

ul li {
    margin: 8px auto;
}

#join-btn {
    border-radius: 0 0 24px 0;
}